<div id="papers-page" class="content container">
    <div class="row">
        <div class="col-xs-10" role="main">

            <h2>SCDM 论著</h2>

            <div class="main">
                <!-- year 2019 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year0" for="paper-scroll">
                    <div #sect0>
                        <h3 id="y2019" class="anchor">2019</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1]
                                Guobing Zou
                                , Zhen Qin, Qiang He, Pengwei Wang, Bofeng Zhang, Yanglan Gan*.
                                DeepWSC: A Novel Framework with
                                Deep Neural Network for Web Service Clustering. <strong>
                                    The 26th IEEE International Conference on Web Services (ICWS)
                                </strong>, pp. 1-8, 2019. (CCF B类, 服务计算顶级会议, Under Review)
                                <br><br>
                                [2] Sen Niu,
                                Guobing Zou*
                                , Yanglan Gan, Yang Xiang, Bofeng Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2019-IJWGS-Niu.pdf"
                                    target="view_window">Towards the optimality
                                    of QoS-aware Web service composition with uncertainty</a>. <strong>
                                    International Journal of Web and Grid Services
                                </strong>, 15(1): 1-28, 2019. (通信作者, SCI, IF=1.071, 服务计算重要期刊)
                                <br><br>
                                [3] Shengye Pang,
                                Guobing Zou*
                                , Yanglan Gan, Sen Niu, Bofeng Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2019-IJWSR-Pang.pdf"
                                    target="view_window">Augmenting
                                    Probabilistic Topic Model for Web Service Classification</a>. <strong>
                                    International Journal of Web Services Research
                                </strong>, 16(1): 93-113, 2019. (通信作者, SCI, IF=0.405, 服务计算重要期刊)
                                <br><br>
                                [4]
                                Guobing Zou
                                , Yang Xiang, Pengwei Wang, Shengye Pang, Honghao Gao, Sen Niu*,
                                Yanglan Gan*. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2018-CollaborateCom-Zou-Xiang.pdf"
                                    target="view_window">Extracting
                                    Business Execution Processes of API Services for Mashup Creation</a>, <strong>
                                    The 14th International Conference on Collaborative Computing
                                    (CollaborateCom)
                                </strong>, pp. 448-466, 2019. (CCF C类)<br>
                                <br>
                                [5]
                                Guobing Zou
                                , Shengye Pang, Pengwei Wang, Huaikou Miao, Sen Niu, Yanglan Gan*,
                                Bofeng Zhang*. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2018-CollaborateCom-Zou-Pang.pdf"
                                    target="view_window">Neighborhood-based uncertain QoS prediction of web services via
                                    Matrix Factorization</a>,
                                <strong>
                                    The 14th International Conference on Collaborative Computing
                                    (CollaborateCom)
                                </strong>, pp. 659-675, 2019. (CCF C类)<br>
                                <br>
                                [6] Shulin Cheng, Bofeng Zhang*,
                                Guobing Zou*
                                , Mingqing Huang, Zhu Zhang. Friend Recommendation in Social Networks
                                Based on Multi-source
                                Information Fusion. <strong>
                                    International Journal of Machine Learning and Cybernetics
                                </strong>, pp. 1-22, online first, <a href="https://doi.org/10.1007/s13042-017-0778-1"
                                    target="view_window">https://doi.org/10.1007/s13042-017-0778-1</a>, 2019. (通信作者,
                                SCI, IF=2.692, in press)<br>
                                <br>
                                [7] Xia Zhang, Yanglan Gan*,
                                Guobing Zou
                                , Jihong Guan, Shuigeng Zhou. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2019-BMC-Genomics-Zhang.pdf"
                                    target="view_window">Genome-wide
                                    analysis of epigenetic dynamics across human developmental stages and tissues</a>.
                                <strong>
                                    BMC Genomics
                                </strong>, 20(221): 153-162, 2019. (SCI, IF=3.730, 中科院2区)
                                <br>
                                <br>
                                [8] Xinyue Wan*, Bofeng Zhang,
                                Guobing Zou
                                , Furong Chang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2019-ApplSci-Wan.pdf"
                                    target="view_window">Sparse Data Recommendation by Fusing Continuous Imputation
                                    Denoising Autoencoder and Neural
                                    Matrix Factorization</a>. <strong>
                                    Applied Sciences
                                </strong>, 9(1), 54: 1-19, 2019. (SCI, IF=1.689, 中科院3区)<br>
                                <br>
                                [9] Shaochun Wu, Ming gao, Qifeng Xiao,
                                Guobing Zou
                                . A Topic-Enhanced Recurrent Autoencoder Model for Sentiment Analysis
                                of Short Texts. <strong>
                                    International Journal of Internet Manufacturing and Services

                                </strong>, 2019. (EI, in press)<br>
                                <br>
                                [10] Shaochun Wu, Qifeng Xiao, Ming Gao,
                                Guobing Zou
                                . A Construction and Self-Learning Method for Intelligent Domain
                                Sentiment Lexicon. <strong>
                                    International Journal of Information Technology and Management

                                </strong>, 2019. (EI, in press)<br><br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
                <!-- year 2018 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year1" for="paper-scroll">
                    <div #sect1>
                        <h3 id="y2018" class="anchor">2018</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1] Mingqing Huang,
                                Guobing Zou*
                                , Bofeng Zhang*, Yue Liu, Yajun Gu, Keyuan Jiang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2018-IS-Huang.pdf"
                                    target="view_window">Overlapping community detection in heterogeneous social
                                    network via user model</a>. <strong>
                                    Information Sciences
                                </strong>, 432: 164-184, 2018. (通信作者, SCI, IF=4.305, 中科院1区)<br>
                                <br>
                                [2] Mingqing Huang,
                                Guobing Zou*
                                , Bofeng Zhang*, Yanglan Gan, Keyuan Jiang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2018-ESWA-Huang.pdf"
                                    target="view_window">Identifying Influential Individuals in Microblogging
                                    Networks using Graph Partitioning</a>. <strong>
                                    Expert Systems with Applications
                                </strong>, 102: 70-82, 2018. (通信作者, SCI, IF=3.768, 中科院2区) <br>
                                <br>
                                [3]
                                Guobing Zou
                                , Ming Jiang, Sen Niu, Hao Wu, Shengye Pang, Yanglan Gan*. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2018-ICSOC-Zou.pdf"
                                    target="view_window">QoS-aware Web Service Recommendation with Reinforced
                                    Collaborative Filtering</a>. <strong>
                                    The 16th International Conference on Service Oriented
                                    Computing (ICSOC)
                                </strong>, pp. 430-445, 2018. (CCF B类, 服务计算顶级会议)<br>
                                <br>
                                [4]
                                Guobing Zou
                                , Zhimin Zhou, Mei Zhao, Sen Niu, Yanglan Gan*. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2018-JIT-Zou.pdf"
                                    target="view_window">Granularity-based Uncertain QoS Partitioning for Web
                                    Service Reliability</a>. <strong>
                                    Journal of Internet Technology
                                </strong>, 19(4): 1031-1042, 2018. (SCI, IF=1.301)<br>
                                <br>
                                [5] Sen Niu,
                                Guobing Zou*
                                , Yanglan Gan, Zhimin Zhou, Bofeng Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2018-JIT-Niu.pdf"
                                    target="view_window">Uncertain composition of Web services via non-deterministic
                                    planning</a>. <strong>
                                    Journal of Internet Technology
                                </strong>, 19(3): 697-710, 2018. (通信作者, SCI, IF=1.301)<br>
                                <br>
                                [6] Mingqing Huang, Bofeng Zhang*,
                                Guobing Zou*
                                , Shulin Cheng, Zhuocheng Zhou, Furong Chang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2018-ICALIP-Huang.pdf"
                                    target="view_window">Friend Recommendation in Online Social Networks Combining
                                    Interest Similarity and Social Interaction</a>. <strong>
                                    International Conference on Audio, Language and Image
                                    Processing (ICALIP)
                                </strong>, pp. 126-132, 2018. (通信作者, EI)<br>
                                <br>
                                [7] Shulin Cheng, Bofeng Zhang*,
                                Guobing Zou*
                                , Mingqing Huang, Ying Lv. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2018-DSIT-Cheng.pdf"
                                    target="view_window">Valid Context Detection Based on Context Filter in
                                    Context-Aware Recommendation System</a>. <strong>
                                    International Conference on Data Science and Information
                                    Technology (DSIT)
                                </strong>, pp. 1-8, 2018. (通信作者, EI)<br>
                                <br>
                                [8] Yanglan Gan, Ning Li,
                                Guobing Zou
                                , Jihong Guan*. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2018-BMC-Medical-Genomics-Gan.pdf"
                                    target="view_window">Identification of cancer subtypes from single-cell RNA-seq
                                    data using a consensus clustering method</a>. <strong>
                                    BMC Medical Genomics
                                </strong>, 11(117): 65-72, 2018. (SCI, IF=3.317, 中科院3区)<br>
                                <br>
                                [9] Yanglan Gan, Zhiyuan Dong, Xia Zhang, Guobing Zou*. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2018-ICIC-Gan.pdf"
                                    target="view_window">Tri-Clustering Analysis for Dissecting Epigenetic Patterns
                                    Across Multiple Cancer Types</a>. <strong>
                                    International Conference on Intelligent Computing (ICIC)
                                </strong>, pp. 330-336, 2018. (通信作者, EI)<br><br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
                <!-- year 2017 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year2" for="paper-scroll">
                    <div #sect2>
                        <h3 id="y2017" class="anchor">2017</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1]
                                Guobing Zou
                                , Wang Li, Zhimin Zhou, Sen Niu, Yanglan Gan*, Bofeng Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2017-IJWGS-Zou.pdf"
                                    target="view_window">Clustering-based
                                    uncertain QoS prediction of Web services via collaborative filtering</a>. <strong>
                                    International Journal of Web and Grid Services
                                </strong>, 13(4): 403-424, 2017.(SCI, IF=1.071, 服务计算顶级期刊)<br>
                                <br>
                                [2] Sen Niu,
                                Guobing Zou*
                                , Yanglan Gan, Yang Xiang, Bofeng Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2017-ICWS-Niu.pdf"
                                    target="view_window">Towards Uncertain
                                    QoS-aware Service Composition via Multi-objective Optimization</a>. <strong>
                                    The 24th IEEE International Conference on Web Services (ICWS)
                                </strong>, pp. 894-897, 2017. (通信作者, CCF B类, 服务计算顶级会议)<br>
                                <br>
                                [3] Shulin Cheng, Bofeng Zhang*,
                                Guobing Zou
                                . <a href="http://dmis.shu.edu.cn/Publications/papers/2017-IJCCC-Cheng.pdf"
                                    target="view_window">A
                                    Rating-Based Integrated Recommendation Framework with Improved Collaborative
                                    Filtering Approaches</a>. <strong>
                                    International Journal of Computers Communications & Control

                                </strong>, 12(3): 307-322, 2017. (SCI, IF=1.290)<br>
                                <br>
                                [4] 程树林, 张博锋,
                                邹国兵
                                . <a href="http://dmis.shu.edu.cn/Publications/papers/2017-应用科学学报-程树林.pdf"
                                    target="view_window">基于用户和项目的双视角协同过滤推荐方法</a>. <strong>
                                    应用科学学报
                                </strong>, 3: 326-336, 2017.<br>
                                <br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
                <!-- year 2016 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year3" for="paper-scroll">
                    <div #sect3>
                        <h3 id="y2016" class="anchor">2016</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1] Sen Niu,
                                Guobing Zou*
                                , Yanglan Gan, Zhimin Zhou, Bofeng Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2016-SCC-Niu.pdf"
                                    target="view_window">UCLAO* and BHUC: Two
                                    novel planning algorithms for uncertain Web service composition</a>. <strong>
                                    The 13th IEEE International Conference on Services Computing
                                    (SCC)
                                </strong>, San Francisco, USA, pp. 531-538, 2016. (通信作者, CCF C类, 服务计算顶级会议)<br>
                                <br>
                                [2] Yanglan Gan, Han Tao,
                                Guobing Zou
                                , Cairong Yan and Jihong Guan*. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2016-BMC Bioinformatics-Gan.pdf"
                                    target="view_window">Dynamic
                                    epigenetic mode analysis using spatial temporal clustering</a>. <strong>
                                    BMC Bioinformatics
                                </strong>, 2016 , 17(537): 213-220. (SCI, IF=2.213, 中科院2区)<br>
                                <br>
                                [3]
                                Guobing Zou
                                , Mei Zhao, Sen Niu, Yanglan Gan, Bofeng Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2016-SNPD-Zou.pdf"
                                    target="view_window">Computing uncertain
                                    skyline of Web services via interval number</a>. <strong>
                                    IEEE/ACIS International Conference on Software Engineering,
                                    Artificial Intelligence,
                                    Networking and Parallel/Distributed Computing (SNPD)
                                </strong>, pp. 613-618, 2016. (EI)<br>
                                <br>
                                [4] Mingqing Huang, Bofeng Zhang*,
                                Guobing Zou*
                                , Chengwei Gu, Peiye Wu, Shulin Cheng, Zhu Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2016-CyberSciTech-Huang.pdf"
                                    target="view_window">Socialized
                                    user modeling in microblogging scenarios for interest prediction</a>. <strong>
                                    IEEE Cyber Science and Technology Congress (CyberSciTech)
                                </strong>, 2016. (通信作者, EI)<br>
                                <br>
                                [5] Chengwei Gu, Bofeng Zhang*, Xinyue Wan, Mingqing Huang,
                                Guobing Zou*
                                . <a href="http://dmis.shu.edu.cn/Publications/papers/2016-SNPD-Gu.pdf"
                                    target="view_window">The
                                    modularity-based hierarchical tree algorithm for multi-class classification</a>.
                                <strong>
                                    IEEE/ACIS International Conference on Software Engineering,
                                    Artificial Intelligence,
                                    Networking and Parallel/Distributed Computing (SNPD)
                                </strong>, pp. 625-629, 2016. (通信作者, EI)<br>
                                <br>
                                [6] Mingjun Xin, Shunxiang Li, Liyuan Zhou,
                                Guobing Zou
                                . <a href="http://dmis.shu.edu.cn/Publications/papers/2016-GRMSE-Xin.pdf"
                                    target="view_window">A
                                    Mobile Services Collaborative Recommendation Algorithm Based on Location-Aware
                                    Hidden Markov Model</a>. <strong>
                                    International Conference on Geo-Informatics in Resource
                                    Management and Sustainable
                                    Ecosystems (GRMSE)
                                </strong>, pp 297-306, 2016.<br>
                                <br>
                                [7] 刘大海, 张博锋,
                                邹国兵
                                , 顾程伟. <a href="http://dmis.shu.edu.cn/Publications/papers/2016-计算机应用与软件-刘大海.pdf"
                                    target="view_window">微博用户模型复杂网络中多维有向社区发现</a>. <strong>
                                    计算机应用与软件
                                </strong>, 33(7): 129-133, 2016.<br>
                                <br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
                <!-- year 2015 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year4" for="paper-scroll">
                    <div #sect4>
                        <h3 id="y2015" class="anchor">2015</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1] Jianxing Zheng, Bofeng Zhang, Xiaodong Yue,
                                Guobing Zou
                                . <a href="http://dmis.shu.edu.cn/Publications/papers/2015-JWS-Zheng.pdf"
                                    target="view_window">Neighborhood-user profile based on perception relationship in
                                    micro-blog scenario</a>.
                                <strong>
                                    Journal of Web Semantics
                                </strong>, 34: 13-26, 2015. (SCI, IF=1.348, CCF B类)<br>
                                <br>
                                [2] Honghao Zhu, Shaochun Wu,
                                Guobing Zou
                                , Naibin Luo. <a href="http://dmis.shu.edu.cn/Publications/papers/2015-ScalCom-Zhu.pdf"
                                    target="view_window">Effective user recommendation model for online survey via BP
                                    neural network</a>. <strong>
                                    IEEE International Conference on Scalable Computing and
                                    Communications (ScalCom)
                                </strong>, pp. 1798-1802, 2015. (EI)<br>
                                <br>
                                [3] Naibin Luo, Shaochun Wu,
                                Guobing Zou
                                , Xiang Shuai. <a href="http://dmis.shu.edu.cn/Publications/papers/2015-ScalCom-Luo.pdf"
                                    target="view_window">Online survey prediction model for high response rate via
                                    decision tree</a>. <strong>
                                    IEEE International Conference on Scalable Computing and
                                    Communications (ScalCom)
                                </strong>, pp. 1792-1797, 2015. (EI)<br>
                                <br>
                                [4] Kaiqiang Guo, Shaochun Wu,
                                Guobing Zou
                                , Honghao Zhu. <a href="http://dmis.shu.edu.cn/Publications/papers/2015-ScalCom-Guo.pdf"
                                    target="view_window">Multiple user characteristic models for online survey based on
                                    FP-tree algorithm</a>.
                                <strong>
                                    IEEE International Conference on Scalable Computing and
                                    Communications (ScalCom)
                                </strong>, pp. 1786-1791, 2015. (EI)<br>
                                <br>
                                [5] Xiaowei Zhu, Shaochun Wu,
                                Guobing Zou
                                . <a href="http://dmis.shu.edu.cn/Publications/papers/2015-IMCCC-Zhu.pdf"
                                    target="view_window">User
                                    behavior detection for online survey via sequential pattern mining</a>. <strong>
                                    International Conference on Instrumentation and Measurement,
                                    Computer, Communication, and
                                    Control (IMCCC)
                                </strong>, pp. 493-497, 2015. (EI)<br>
                                <br>
                                [6] Sen Shao, Shaochun Wu,
                                Guobing Zou
                                , L. Chen. <a href="http://dmis.shu.edu.cn/Publications/papers/2015-IMCCC-Shao.pdf"
                                    target="view_window">Effective user invitation models for online survey using
                                    clustering algorithm</a>. <strong>
                                    International Conference on Instrumentation and Measurement,
                                    Computer, Communication, and
                                    Controlthe (IMCCC)
                                </strong>, pp. 1445-1449, 2015. (EI)<br>
                                <br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
                <!-- year 2014 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year5" for="paper-scroll">
                    <div #sect5>
                        <h3 id="y2014" class="anchor">2014</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1]
                                Guobing Zou
                                , Qiang Lu, Yixin Chen, Ruoyun Huang, You Xu, Yang Xiang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2014-TSC-Zou.pdf"
                                    target="view_window">QoS-Aware dynamic
                                    composition of Web services using numerical temporal planning</a>. <strong>
                                    IEEE Transactions on Services Computing
                                </strong>, 7(1): 18-31, 2014. (SCI, IF=4.418, 服务计算顶级期刊, 中科院1区)<br>
                                <br>
                                [2]
                                Guobing Zou
                                , Yanglan Gan, Yixin Chen, Bofeng Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2014-KBS-Zou.pdf"
                                    target="view_window">Dynamic composition of
                                    Web services using efficient planners in large-scale service repository</a>.
                                <strong>
                                    Knowledge-Based Systems
                                </strong>, 62: 98-112, 2014. (SCI, IF=4.396, 中科院2区)<br>
                                <br>
                                [3]
                                Guobing Zou
                                , Yanglan Gan, Yixin Chen, Bofeng Zhang, Ruoyun Huang, You Xu, Yang
                                Xiang. <a href="http://dmis.shu.edu.cn/Publications/papers/2014-APIN-Zou.pdf"
                                    target="view_window">Towards automated
                                    choreography of Web services using planning in large scale service repositories</a>.
                                <strong>
                                    Applied Intelligence
                                </strong>, 41(2): 383-404, 2014. (SCI, IF=1.983, CCF C类)<br>
                                <br>
                                [4] Yanglan Gan,
                                Guobing Zou
                                , Jihong Guan, Guangwei Xu. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2014-TCBB-Gan.pdf"
                                    target="view_window">A novel wavelet-based approach for predicting nucleosome
                                    positions using DNA structural
                                    information</a>. <strong>
                                    IEEE/ACM Transactions on Computational Biology and
                                    Bioinformatics
                                </strong>, 11(4): 638-647, 2014. (SCI, IF=2.424, 中科院2区)<br>
                                <br>
                                [5]
                                Guobing Zou
                                , Yanglan Gan, Sen Niu, Mei Zhao, Bofeng Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2014-IJWET-Zou.pdf"
                                    target="view_window">Towards optimal
                                    discovery of Web services for multiple QoS constraints and preferences</a>. <strong>
                                    International Journal of Web Engineering and Technology
                                </strong>, 9(3): 277-299, 2014. (EI)<br>
                                <br>
                                [6]
                                Guobing Zou
                                , Yanglan Gan, Jianxing Zheng, Bofeng Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2014-ICCCNT-Zou.pdf"
                                    target="view_window">Service composition
                                    and user modeling for personalized recommendation in cloud computing</a>. <strong>
                                    IEEE International Conference on Computing Communications and
                                    Networking Technologies
                                    (ICCCNT)
                                </strong>, pp. 1-7, 2014. (EI)<br>
                                <br>
                                [7] Yajun Gu, Bofeng Zhang,
                                Guobing Zou
                                , Mingqing Huang, Keyuan Jiang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2014-DSAA-Gu.pdf"
                                    target="view_window">Overlapping community
                                    detection in social network based on microblog user model</a>. <strong>
                                    International Conference on Data Science and Advanced Analytics
                                    (DSAA)
                                </strong>, 2014. (EI)<br>
                                <br>
                                [8] Jianxing Zheng, Bofeng Zhang,
                                Guobing Zou
                                , Xiaodong Yue. <a href="http://dmis.shu.edu.cn/Publications/papers/2014-DSAA-Zheng.pdf"
                                    target="view_window">Diversification recommendation of popular articles in
                                    micro-blog scenario</a>. <strong>
                                    International Conference on Data Science and Advanced Analytics
                                    (DSAA)
                                </strong>, 2014. (EI)<br>
                                <br>
                                [9] 甘杨兰, 赵梅, 牛森,
                                邹国兵
                                . <a href="http://dmis.shu.edu.cn/Publications/papers/2014-计算机仿真-甘杨兰.pdf"
                                    target="view_window">基于云仿真环境数据挖掘的服务分类方法</a>. <strong>
                                    计算机仿真
                                </strong>, 31(10): 460-465, 2014.<br>
                                <br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
                <!-- year 2013 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year6" for="paper-scroll">
                    <div #sect6>
                        <h3 id="y2013" class="anchor">2013</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1] Bofeng Zhang, Jianxing Zheng, Jianhua Ma, Yinsheng Li,
                                Guobing Zou
                                , Qun Jin. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2013-Personal and Ubiquitous Computing-Zhang.pdf"
                                    target="view_window">Research on life-cycle of user model in U-Business</a>.
                                <strong>
                                    Personal and Ubiquitous Computing
                                </strong>, 17: 1449-1457, 2013. (SCI, IF=1.924, CCF C类)<br>
                                <br>
                                [2] Yue Liu, Binkai Shi,
                                Guobing Zou
                                , Zhe Xu, <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2013-Journal of Convergence Information Technology-Liu.pdf"
                                    target="view_window">Effective Personalized Recommendation using United Auxiliary
                                    Domain based Weighted Rating
                                    Model in Large-Scale BT Download Datasets</a>. <strong>
                                    Journal of Convergence Information Technology
                                </strong>, 8(8): 80-87, 2013. (EI)<br>
                                <br>
                                [3] Shaochun Wu,
                                Guobing Zou
                                , Honghao Zhu, Xiang Shuai, Liang Chen, Bofeng Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2013-iThings-Wu.pdf"
                                    target="view_window">The Dynamically
                                    Efficient Mechanism of HDFS Data Prefetching</a>. <strong>
                                    IEEE International Conference on Internet of Things (iThings)

                                </strong>, pp. 2188-2193, 2013. (EI)<br>
                                <br>
                                [4] Jianxing Zheng, Bofeng Zhang,
                                Guobing Zou
                                . <a href="http://dmis.shu.edu.cn/Publications/papers/2013-iThings-Zheng.pdf"
                                    target="view_window">Multi-granularity recommendation based on ontology user
                                    model</a>. <strong>
                                    IEEE International Conference on Internet of Things (iThings)

                                </strong>, pp. 2194-2199, 2013. (EI)<br>
                                <br>
                                [5] Susu Jiang, Bofeng Zhang,
                                Guobing Zou
                                , Daming Wei. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2013-iThings-Jiang.pdf"
                                    target="view_window">The possibility of normal gait analysis based on a smart phone
                                    for healthcare</a>. <strong>
                                    IEEE International Conference on Internet of Things (iThings)

                                </strong>, 2013. (EI)<br>
                                <br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
                <!-- year 2012 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year7" for="paper-scroll">
                    <div #sect7>
                        <h3 id="y2012" class="anchor">2012</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1]
                                Guobing Zou
                                , Yixin Chen, Ruoyun Huang, You Xu, Yang Xiang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2012-AAAI-Zou.pdf"
                                    target="view_window">Towards automated
                                    choreographing of Web services using planning</a>. <strong>
                                    The 26th AAAI Conference on Artificial Intelligence (AAAI)
                                </strong>, pp. 178-184, 2012. (CCF A类, 人工智能顶级会议)<br>
                                <br>
                                [2]
                                Guobing Zou
                                , Bofeng Zhang, Jianxing Zheng, Yinsheng Li, Jianhua Ma. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2012-CIT-Zou.pdf"
                                    target="view_window">MaaS: Model as a service
                                    in cloud computing and Cyber-I space</a>. <strong>
                                    IEEE International Conference on Computer and Information
                                    Technology (CIT)
                                </strong>, pp. 1125-1130, 2012. (EI)<br>
                                <br>
                                [3] Yue Liu, Binkai Shi,
                                Guobing Zou
                                , Zhe Xu. <a href="http://dmis.shu.edu.cn/Publications/papers/2012-ICA-Liu.pdf"
                                    target="view_window">United auxiliary domain based weighted rating model for data
                                    sparse in collaborative
                                    filtering</a>. <strong>
                                    International Conference on Intelligent Computing and
                                    Applications (ICA)
                                </strong>, Springer, pp. 80-87, 2012. (EI)<br>
                                <br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
                <!-- year 2011 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year8" for="paper-scroll">
                    <div #sect8>
                        <h3 id="y2011" class="anchor">2011</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1]
                                Guobing Zou
                                , Yang Xiang, Yanglan Gan, Yixin Chen. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2011-Soft Computing-Zou.pdf"
                                    target="view_window">A novel
                                    approach to annotating Web service based on interface concept mapping and semantic
                                    expansion</a>. <strong>Soft
                                    Computing</strong>, 15(5): 929-938, 2011. (SCI, IF=2.367, CCF C类)<br>
                                <br>
                                [2] Paras Tiwari,
                                Guobing Zou
                                , Yixin Chen. <a href="http://dmis.shu.edu.cn/Publications/papers/2011-WUGSS-Paras.pdf"
                                    target="view_window">A Web application for Web service composition using AI
                                    planner-based method</a>. <strong>
                                    Graduate Student Research Symposium (WUGSS)
                                </strong>, Washington University in St. Louis, 2011.<br>
                                <br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
                <!-- year 2010 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year9" for="paper-scroll">
                    <div #sect9>
                        <h3 id="y2010" class="anchor">2010</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1]
                                Guobing Zou
                                , Yixin Chen, Yang Xiang, Ruoyun Huang, You Xu. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2010-CCV-Zou.pdf"
                                    target="view_window">AI planning and
                                    combinatorial optimization for Web service composition in cloud computing</a>.
                                <strong>
                                    Annual International Conference on Cloud Computing and
                                    Virtualization (CCV)
                                </strong>, pp. 28-35, 2010.<br>
                                <br>
                                [2]
                                邹国兵
                                , 向阳, 甘杨兰, 孙红雨, 张波. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2010-小型微型计算机系统-邹国兵.pdf"
                                    target="view_window">利用语义匹配度计算的Web服务发现方法</a>. <strong>
                                    小型微型计算机系统
                                </strong>, 31(5): 807-812, 2010.<br>
                                <br>
                                [3] Dong Wang, Yang Xiang, Qian Chen,
                                Guobing Zou
                                . <a href="http://dmis.shu.edu.cn/Publications/papers/2010-AICI-Wang.pdf"
                                    target="view_window">Research on ontology-based representation method for textual
                                    cases</a>. <strong>
                                    International Conference on Artificial Intelligence and
                                    Computational Intelligence (AICI)

                                </strong>, pp. 17-20, 2010. (EI)<br>
                                <br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
                <!-- year 2009 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year10" for="paper-scroll">
                    <div #sect10>
                        <h3 id="y2009" class="anchor">2009</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1]
                                Guobing Zou
                                , Yang Xiang, Yanglan Gan, Dong Wang, Zengbao Liu. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2009-ICCSIT-Zou.pdf"
                                    target="view_window">An agent-based Web
                                    service selection and ranking framework with QoS</a>. <strong>
                                    IEEE International Conference on Computer Science and
                                    Information Technology (ICCSIT)
                                </strong>, pp. 37-42, 2009. (EI)<br>
                                <br>
                                [2]
                                Guobing Zou
                                , Yang Xiang, Yanglan Gan, Hongyu Sun, Zengbao Liu. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2009-FSKD-Zou.pdf"
                                    target="view_window">An efficient Web
                                    service annotation method utilizing concept mapping and interface expansion</a>.
                                <strong>
                                    International Conference on Fuzzy Systems and Knowledge
                                    Discovery (FSKD)
                                </strong>, pp. 183-187, 2009. (EI)<br>
                                <br>
                                [3] Dong Wang, Yang Xiang,
                                Guobing Zou
                                , Bo Zhang. <a href="http://dmis.shu.edu.cn/Publications/papers/2009-AICI-Wang.pdf"
                                    target="view_window">Research on ontology-based indexing in CBR</a>. <strong>
                                    International Conference on Artificial Intelligence and
                                    Computational Intelligence (AICI)

                                </strong>, pp. 238-241, 2009. (EI)<br>
                                <br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
                <!-- year 2008 -->
                <div class="divider"></div>
                <sn-scroll-spy-section id="year11" for="paper-scroll">
                    <div #sect11>
                        <h3 id="y2008" class="anchor">2008</h3>
                        <div class="row">
                            <div class="col-sm-11 sm-margin-b-50">
                                [1]
                                Guobing Zou
                                , Bofeng Zhang, Yanglan Gan, Jianwen Zhang. <a
                                    href="http://dmis.shu.edu.cn/Publications/papers/2008-FSKD-Zou.pdf"
                                    target="view_window">An ontology-based
                                    methodology for semantic expansion search</a>. <strong>
                                    International Conference on Fuzzy Systems and Knowledge
                                    Discovery (FSKD)
                                </strong>, pp. 453-457, 2008. (EI)<br>
                                <br>
                                [2] Bo Zhang, Yang Xiang, Bei Zhang,
                                Guobing Zou
                                . <a href="http://dmis.shu.edu.cn/Publications/papers/2008-ICICTA-Zhang.pdf"
                                    target="view_window">Semantics driven decision making and its dynamic semantics
                                    presentation</a>. <strong>
                                    International Conference on Intelligent Computation Technology
                                    and Automation (ICICTA)

                                </strong>, 2008. (EI)<br><br>
                            </div>
                        </div>
                    </div>
                </sn-scroll-spy-section>
                <!--// end row -->
            </div>


        </div>

        <div class="col-xs-2" role="complementary">
            <ul class="nav menu hidden-print hidden-xs hidden-sm" snScrollSpy id="paper-scroll">
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year0"
                        (click)="smoothScroll('year0'); $event.preventDefault();">2019</a></li>
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year1"
                        (click)="smoothScroll('year1'); $event.preventDefault();">2018</a></li>
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year2"
                        (click)="smoothScroll('year2'); $event.preventDefault();">2017</a></li>
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year3"
                        (click)="smoothScroll('year3'); $event.preventDefault();">2016</a></li>
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year4"
                        (click)="smoothScroll('year4'); $event.preventDefault();">2015</a></li>
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year5"
                        (click)="smoothScroll('year5'); $event.preventDefault();">2014</a></li>
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year6"
                        (click)="smoothScroll('year6'); $event.preventDefault();">2013</a></li>
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year7"
                        (click)="smoothScroll('year7'); $event.preventDefault();">2012</a></li>
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year8"
                        (click)="smoothScroll('year8'); $event.preventDefault();">2011</a></li>
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year9"
                        (click)="smoothScroll('year9'); $event.preventDefault();">2010</a></li>
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year10"
                        (click)="smoothScroll('year10'); $event.preventDefault();">2009</a></li>
                <li class="nav-item"><a snScrollSpyItem for="paper-scroll" class="nav-link" href="#year11"
                        (click)="smoothScroll('year11'); $event.preventDefault();">2008</a></li>
            </ul>
        </div>
    </div>
</div>