<!--========== PAGE LAYOUT ==========-->
<!-- Clients -->
<div class="content container">
  <div class="row margin-b-40">
    <div class="col-sm-12">
      <h2>SCDM 实验室</h2>
      <div class="row">
        <div class="col-sm-8">
          <p>“SCDM”的含义是“Lab of Service Computing and Data Mining”, “服务计算与数据挖掘实验室”。 SCDM实验室位于
            <a routerLink="/contact">上海大学宝山校区东区计算机大楼910室</a>，负责人是邹国兵副教授。</p>
          <p>SCDM实验室现有博士生3名、学术型硕士生6名、工程硕士生1名。主要从事Web服务动态组合与优化、服务QoS预测与推荐、 分类与聚类算法、社交网络分析、
            智能算法以及机器学习算法在生物信息学应用等方面的基础性理论研究与实际应用工作。欢迎对我们的研究方向感兴趣同学与课题组负责人邹国兵老师联系。
            <br />（
            <a href="mailto:guobingzou(at)gmail.com">guobingzou(at)gmail.com</a> 或
            <a href="mailto:gbzou(at)shu.edu.cn">gbzou(at)shu.edu.cn</a>）</p>
        </div>
        <div class="col-sm-4">
          <div class="work">
            <div class="work-overlay">
              <img class="full-width img-responsive" src="assets/images/640x480/02.jpg" alt="Portfolio Image">
            </div>
            <div class="work-content">
              <h3 class="color-white margin-b-5">SCDM</h3>
              <p class="color-white margin-b-0">实验室的日常</p>
            </div>
            <a class="content-wrapper-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// end row -->
</div>
<!-- End Clients -->


<!-- SCDM 新闻动态 -->
<div class="section-seperator bg-color-sky-light">
  <div class="content container">
    <h2>
      <a routerLink="/news">SCDM 新闻动态</a>
    </h2>
    <br />
    <div class="row">
      <div class="col-sm-4 sm-margin-b-50">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
          <h3>2017-9-25</h3>
          <p>举办“服务计算前沿学术报告会”，邀请了王尚广、郑子彬和刘譞哲三位老师来我院交流访问。</p>
          <a class="link" routerLink="/news">Read More</a>
        </div>
      </div>
      <div class="col-sm-4 sm-margin-b-50">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
          <h3>2017-9-10</h3>
          <p>教师节，“小米智能家庭套装”想必是十分酷炫的教师节礼物了！</p>
          <a class="link" routerLink="/news">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
          <h3>2017-3-31</h3>
          <p>恰逢顾村公园樱花节，团建活动，烧烤走起。</p>
          <a class="link" routerLink="/news">Read More</a>
        </div>
      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End SCDM 新闻动态 -->

<!-- SCDM 论著 -->
<div class="section-seperator">
  <div class="content container">
    <h2>
      <a routerLink="/papers">SCDM 近期论著</a>
    </h2>
    <br />
    <div class="row">
      <div class="col-sm-11 sm-margin-b-50">
        [1]
        Guobing Zou
        , Zhen Qin, Qiang He, Pengwei Wang, Bofeng Zhang, Yanglan Gan*.
        DeepWSC: A Novel Framework with
        Deep Neural Network for Web Service Clustering. <strong>
          The 26th IEEE International Conference on Web Services (ICWS)
        </strong>, pp. 1-8, 2019. (CCF B类, 服务计算顶级会议, Under Review)
        <br><br>
        [2] Sen Niu,
        Guobing Zou*
        , Yanglan Gan, Yang Xiang, Bofeng Zhang. <a href="http://dmis.shu.edu.cn/Publications/papers/2019-IJWGS-Niu.pdf"
          target="view_window">Towards the
          optimality
          of QoS-aware Web service composition with uncertainty</a>. <strong>
          International Journal of Web and Grid Services
        </strong>, 15(1): 1-28, 2019. (通信作者, SCI, IF=1.071, 服务计算重要期刊)
        <br><br>
        [3] Shengye Pang,
        Guobing Zou*
        , Yanglan Gan, Sen Niu, Bofeng Zhang. <a href="http://dmis.shu.edu.cn/Publications/papers/2019-IJWSR-Pang.pdf"
          target="view_window">Augmenting
          Probabilistic Topic Model for Web Service Classification</a>. <strong>
          International Journal of Web Services Research
        </strong>, 16(1): 93-113, 2019. (通信作者, SCI, IF=0.405, 服务计算重要期刊)
        <br><br>
        [4]
        Guobing Zou
        , Yang Xiang, Pengwei Wang, Shengye Pang, Honghao Gao, Sen Niu*,
        Yanglan Gan*. <a href="http://dmis.shu.edu.cn/Publications/papers/2018-CollaborateCom-Zou-Xiang.pdf"
          target="view_window">Extracting
          Business Execution Processes of API Services for Mashup Creation</a>, <strong>
          The 14th International Conference on Collaborative Computing
          (CollaborateCom)
        </strong>, pp. 448-466, 2019. (CCF C类)<br>
        <br>
        [5]
        Guobing Zou
        , Shengye Pang, Pengwei Wang, Huaikou Miao, Sen Niu, Yanglan Gan*,
        Bofeng Zhang*. <a href="http://dmis.shu.edu.cn/Publications/papers/2018-CollaborateCom-Zou-Pang.pdf"
          target="view_window">Neighborhood-based uncertain QoS prediction of web services via
          Matrix Factorization</a>,
        <strong>
          The 14th International Conference on Collaborative Computing
          (CollaborateCom)
        </strong>, pp. 659-675, 2019. (CCF C类)<br>
        <br>
        [6] Shulin Cheng, Bofeng Zhang*,
        Guobing Zou*
        , Mingqing Huang, Zhu Zhang. Friend Recommendation in Social Networks
        Based on Multi-source
        Information Fusion. <strong>
          International Journal of Machine Learning and Cybernetics
        </strong>, pp. 1-22, online first, <a href="https://doi.org/10.1007/s13042-017-0778-1"
          target="view_window">https://doi.org/10.1007/s13042-017-0778-1</a>, 2019. (通信作者,
        SCI, IF=2.692, in press)<br>
        <br>
        [7] Mingqing Huang,
        Guobing Zou*
        , Bofeng Zhang*, Yue Liu, Yajun Gu, Keyuan Jiang. <a
          href="http://dmis.shu.edu.cn/Publications/papers/2018-IS-Huang.pdf" target="view_window">Overlapping community
          detection in heterogeneous social
          network via user model</a>. <strong>
          Information Sciences
        </strong>, 432: 164-184, 2018. (通信作者, SCI, IF=4.305, 中科院1区)<br>
        <br>
        [8] Mingqing Huang,
        Guobing Zou*
        , Bofeng Zhang*, Yanglan Gan, Keyuan Jiang. <a
          href="http://dmis.shu.edu.cn/Publications/papers/2018-ESWA-Huang.pdf" target="view_window">Identifying
          Influential Individuals in Microblogging
          Networks using Graph Partitioning</a>. <strong>
          Expert Systems with Applications
        </strong>, 102: 70-82, 2018. (通信作者, SCI, IF=3.768, 中科院2区) <br>
        <br>
        [9]
        Guobing Zou
        , Ming Jiang, Sen Niu, Hao Wu, Shengye Pang, Yanglan Gan*. <a
          href="http://dmis.shu.edu.cn/Publications/papers/2018-ICSOC-Zou.pdf" target="view_window">QoS-aware Web
          Service Recommendation with Reinforced
          Collaborative Filtering</a>. <strong>
          The 16th International Conference on Service Oriented
          Computing (ICSOC)
        </strong>, pp. 430-445, 2018. (CCF B类, 服务计算顶级会议)<br>
        <br>
        [10]
        Guobing Zou
        , Zhimin Zhou, Mei Zhao, Sen Niu, Yanglan Gan*. <a
          href="http://dmis.shu.edu.cn/Publications/papers/2018-JIT-Zou.pdf" target="view_window">Granularity-based
          Uncertain QoS Partitioning for Web
          Service Reliability</a>. <strong>
          Journal of Internet Technology
        </strong>, 19(4): 1031-1042, 2018. (SCI, IF=1.301)<br>
        <br>
        [11] Sen Niu,
        Guobing Zou*
        , Yanglan Gan, Zhimin Zhou, Bofeng Zhang. <a href="http://dmis.shu.edu.cn/Publications/papers/2018-JIT-Niu.pdf"
          target="view_window">Uncertain composition
          of Web services via non-deterministic
          planning</a>. <strong>
          Journal of Internet Technology
        </strong>, 19(3): 697-710, 2018. (通信作者, SCI, IF=1.301)<br>
        <br>


        [12]
        Guobing Zou
        , Wang Li, Zhimin Zhou, Sen Niu, Yanglan Gan*, Bofeng Zhang. <a
          href="http://dmis.shu.edu.cn/Publications/papers/2017-IJWGS-Zou.pdf" target="view_window">Clustering-based
          uncertain QoS prediction of Web services via collaborative filtering</a>. <strong>
          International Journal of Web and Grid Services
        </strong>, 13(4): 403-424, 2017.(SCI, IF=1.071, 服务计算顶级期刊)<br>
        <br>

        [13] Sen Niu,
        Guobing Zou*
        , Yanglan Gan, Yang Xiang, Bofeng Zhang. <a href="http://dmis.shu.edu.cn/Publications/papers/2017-ICWS-Niu.pdf"
          target="view_window">Towards Uncertain
          QoS-aware Service Composition via Multi-objective Optimization</a>. <strong>
          The 24th IEEE International Conference on Web Services (ICWS)
        </strong>, pp. 894-897, 2017. (通信作者, CCF B类, 服务计算顶级会议)<br>
        <br>

        [14] Sen Niu,
        Guobing Zou*
        , Yanglan Gan, Zhimin Zhou, Bofeng Zhang. <a href="http://dmis.shu.edu.cn/Publications/papers/2016-SCC-Niu.pdf"
          target="view_window">UCLAO* and BHUC: Two
          novel planning algorithms for uncertain Web service composition</a>. <strong>
          The 13th IEEE International Conference on Services Computing
          (SCC)
        </strong>, San Francisco, USA, pp. 531-538, 2016. (通信作者, CCF C类, 服务计算顶级会议)<br>
        <br>

        [15]
        Guobing Zou
        , Qiang Lu, Yixin Chen, Ruoyun Huang, You Xu, Yang Xiang. <a
          href="http://dmis.shu.edu.cn/Publications/papers/2014-TSC-Zou.pdf" target="view_window">QoS-Aware dynamic
          composition of Web services using numerical temporal planning</a>. <strong>
          IEEE Transactions on Services Computing
        </strong>, 7(1): 18-31, 2014. (SCI, IF=4.418, 服务计算顶级期刊, 中科院1区)<br>
        <br>

        [16]
        Guobing Zou
        , Yanglan Gan, Yixin Chen, Bofeng Zhang. <a href="http://dmis.shu.edu.cn/Publications/papers/2014-KBS-Zou.pdf"
          target="view_window">Dynamic composition of
          Web services using efficient planners in large-scale service repository</a>.
        <strong>
          Knowledge-Based Systems
        </strong>, 62: 98-112, 2014. (SCI, IF=4.396, 中科院2区)<br>
        <br>

        [17]
        Guobing Zou
        , Yanglan Gan, Yixin Chen, Bofeng Zhang, Ruoyun Huang, You Xu, Yang
        Xiang. <a href="http://dmis.shu.edu.cn/Publications/papers/2014-APIN-Zou.pdf" target="view_window">Towards
          automated
          choreography of Web services using planning in large scale service repositories</a>.
        <strong>
          Applied Intelligence
        </strong>, 41(2): 383-404, 2014. (SCI, IF=1.983, CCF C类)<br>
        <br>

        [18]
        Guobing Zou
        , Yixin Chen, Ruoyun Huang, You Xu, Yang Xiang. <a
          href="http://dmis.shu.edu.cn/Publications/papers/2012-AAAI-Zou.pdf" target="view_window">Towards automated
          choreographing of Web services using planning</a>. <strong>
          The 26th AAAI Conference on Artificial Intelligence (AAAI)
        </strong>, pp. 178-184, 2012. (CCF A类, 人工智能顶级会议)<br>
        <br>

      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End SCDM 论著 -->

<!-- SCDM 组会 -->
<div class="section-seperator bg-color-sky-light">
  <div class="content container">
    <h2>
      <a routerLink="/meetings">SCDM 近期组会</a>
    </h2>
    <br />
    <div class="row">
      <div class="col-sm-4 sm-margin-b-50">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
          <h3>李旺分享</h3>
          <p>Mashup服务流程抽取。</p>
          <p>
            <span class="fweight-700 color-link">2018-01-29</span>
          </p>
        </div>
      </div>
      <div class="col-sm-4 sm-margin-b-50">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
          <h3>蒋明分享</h3>
          <p>探讨了改进的Web服务推荐方法。</p>
          <p>
            <span class="fweight-700 color-link">2018-01-22</span>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
          <h3>向阳分享</h3>
          <p>介绍了目前一些基于深度学习的文本特征提取方法。</p>
          <p>
            <span class="fweight-700 color-link">2018-01-15</span>
          </p>
        </div>
      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End SCDM 组会 -->

<!-- SCDMer's 的生活 -->
<!-- <div class="bg-color-sky-light"> -->
<div class="content container">
  <h2>
    <a routerLink="/photos">SCDMer's 的生活</a>
  </h2>
  <!-- Masonry Grid -->
  <div class="masonry-grid">
    <!-- <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-6"></div> -->
    <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-6">
      <!-- Work -->
      <div class="work">
        <div class="work-overlay">
          <img class="full-width img-responsive" src="assets/images/595x483/02.jpg" alt="Portfolio Image">
        </div>
        <div class="work-content">
          <h3 class="color-white margin-b-5">单身怎么办，内部消化啊</h3>
          <p class="color-white margin-b-0">周：你看~ 旺：emmm...
            <br />庞：我的内心毫无波动。 霞：甚至还有点想... 向：笑！嘿嘿嘿。</p>
        </div>
        <a class="content-wrapper-link"></a>
      </div>
      <!-- End Work -->
    </div>
    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-6">
      <!-- Work -->
      <div class="work">
        <div class="work-overlay">
          <img class="full-width img-responsive" src="assets/images/595x240/03.jpg" alt="Portfolio Image">
        </div>
        <div class="work-content">
          <h3 class="color-white margin-b-5">烧烤ing</h3>
          <p class="color-white margin-b-0">蒋摄影师：哎哎哎，镜头中这还少一个人呢！</p>
        </div>
        <a class="content-wrapper-link"></a>
      </div>
      <!-- End Work -->
    </div>
    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-6">
      <!-- Work -->
      <div class="work">
        <div class="work-overlay">
          <img class="full-width img-responsive" src="assets/images/595x240/04.jpg" alt="Portfolio Image">
        </div>
        <div class="work-content">
          <h3 class="color-white margin-b-5">顾村公园一角</h3>
          <p class="color-white margin-b-0">春的气息，诗情画意。
            <span>就是有点虐狗。</span>
          </p>
        </div>
        <a class="content-wrapper-link"></a>
      </div>
      <!-- End Work -->
    </div>
  </div>
  <!-- End Masonry Grid -->
</div>
<!-- </div> -->
<!-- End SCDMer's 的生活 -->